*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background: rgb(237, 237, 238);
    height: 100%;
}
html {
    font-family: "Lucida Sans", sans-serif;
}


.col-1 {width: 8.33%;}
.col-2 { width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

ul {
    position: static;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F9FAFD;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.btn-add-vehicle{
    background: #347E7F;
    padding: 10px;
    color: white;
    font-size: 12px;
    border-radius: 30px;
    width: 80px;
}
.shadow{
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.64);
}
.group{
    margin: 50px 0 0 15px;
    height: 300px;
    width: 230px;
    border: 4px solid #4DB19C;
    border-bottom: hidden;
}

.back-vehicle{
    position: relative;
    height: 50%;
}

.front-vehicle{
    position: relative;
    height: 50%;
}

.fa {
    color: #347E7F;
    font-size: 70px;

}
.status{
    padding: 3px 5px;
    margin-top: 3px;
    display: inline-block;
    min-width: 10px;
    font-weight: 700;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 50%;
}
.active{
    background: rgb(0, 255, 0);
}
.inactive{
    background: rgb(255, 0, 0);
}



.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

}


.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 15px;
    border: 1px solid #888;
    /* width: 80%; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    width: 800px;
    border-radius: 20px;
}


@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


.close {
    color: rgb(255, 0, 0);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(134, 43, 43);
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}
.modal-body {padding: 2px 16px;}

.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: .3rem;
    border-bottom-left-radius: .3rem;}

input[type=text], [type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn{
    border-radius: 50px;
    font-size: 14px;
    padding: 7px 14px;
    outline: none !important;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    color: white;
}

.btn-red{
    background: red;
}
.btn-add{
    background: #347E7F;
}

button{
    border-style: none;
    border-color: transparent;
    background: none;

}

.head-text{
    text-align: center;
    padding: 9px;
}
.report{

    position: relative;
    background: white;

    margin-top: 90px;

}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding-left: 3px;
    align-content: center;

}


tr:nth-child(even) {background-color: #f2f2f2;}

.disable[] {
    background: #e9ecef;
    opacity: 1;
}
