<template>

    <div class="main-content">
        <section>
            <div class="row">
                <div class="col-2 group shadow" v-for="i in 20" v-if="i % 2 == 0" >
                    <div class="back-vehicle">
                        <span class="">C{{ slots[i-2].cell_no }}</span>
                        <center>
                            <div v-if="slots[i-2].status" v-bind:value="slots[i-2].status">
                                <button><i  class="fa fa-car"></i></button> <br>
                                <small v-bind:value="getCarAtSlot(slots[i-2].cell_no).brand_name">{{ getCarAtSlot(slots[i-2].cell_no).brand_name }}</small><br>
                                <small v-bind:value="getCarAtSlot(slots[i-2].cell_no).plate_number">{{ getCarAtSlot(slots[i-2].cell_no).plate_number }}</small>
                            </div>
                        </center>
                    </div>

                    <hr>

                    <div class="front-vehicle">
                        <span class="">C{{ slots[i-1].cell_no }}</span>
                        <center>
                            <div v-if="slots[i-1].status" v-bind:value="slots[i-1].status">
                                <button ><i class="fa fa-car"></i></button>   <br>
                                <small>{{ getCarAtSlot(slots[i-1].cell_no).brand_name }}</small><br>
                                <small>{{ getCarAtSlot(slots[i-1].cell_no).plate_number }}</small>
                            </div>
                        </center>

                    </div>
                </div>

            </div>



            <div class="report col-12 ">

                <h3 class="head-text">Busiest cells</h3>
                <table>
                    <tr>
                        <th>Parking Lots</th>
                        <th>Time Occupied</th>
                    </tr>
                    <tr v-for="busiest_slot in busiest_slots" v-bind:key="busiest_slot.cell_no">
                        <td>C{{ busiest_slot.cell_no }}</td>
                        <td>{{ getTime(busiest_slot.seconds_spent) }} </td>
                    </tr>
                </table>

            </div>

        </section>


         <!--modals -->

        <div id="myModal1" class="modal">


        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="close_add">&times;</button>
                <h2>Incoming Vehicle</h2>
        </div>
        <div class="modal-body">
        <form @submit.prevent="parkCar">
            <label>Brand Name</label>
            <input type="text" placeholder="brand name eg. toyota corolla 2012" v-model="vehicle.brand_name" required>
            <label> Plate Number</label>
            <input type="text" placeholder="eg. RNG-33TY" v-model="vehicle.plate_number" required>
            <div class="modal-footer">
                <button type="submit" class="btn btn-add">Create</button>
            </div>
        </form>
        </div>

        </div>

        </div>


        <div id="myModal2" class="modal">
        <div class="modal-content">
        <div class="modal-header">
        <button class="close" id="close_exit">&times;</button>
        <h2>Exit Vehicle</h2>
        </div>
        <div class="modal-body">
        <form>
        <label>Plate Number</label>
        <input type="text" placeholder="enter plate number to exit car" v-model="vehicle_plate">
            <!--<label>Brand name</label>-->
            <!--<input type="text" class="disable" disabled v-model="vehicle.brand_name">-->
            <!--<label> Time-in</label>-->
            <!--<input type="text" class="disable" disabled v-model="vehicle.time_in">-->
            <!--<label> Time-out</label>-->
            <!--<input type="text"  class="disable" disabled v-model="current_time">-->
            <!--<label> Estimated Parking Fee</label>-->
            <!--<input type="number" class="disable" disabled v-model="temp_amount_to_be_paid">-->
        </form>
        </div>
        <div class="modal-footer">
        <!--<button type="button" class="btn btn-add" @click="getCarExit(vehicle_plate)">Find Vehicle</button>-->
        <button type="button" class="btn btn-add" @click="exitCar(vehicle_plate,vehicle.spot_id)">Find & Exit Vehicle</button>
            <!--<button type="reset" class="btn btn-red">Close</button>-->
        </div>
        </div>
        </div>
    </div>


</template>
<script>
    export default {
        mounted() {
            // console.log('Component mounted.')
        },
        data() {
            return {
                slots: [],
                vehicles: [],
                currentVehicles: [],
                vehicle: {
                    'id': '',
                    'brand_name': '',
                    'plate_number': '',
                    'time_in': '',
                    'time_out': '',
                    'amount_paid': '',
                    'spot_id': '',
                    'updated_spot_id': ''
                },
                slot: {
                    "id": '',
                    "cell_no": '',
                    "status": ''
                },
                busiest_slots: [],
                vehicle_plate: '',
                current_time: '',
                temp_amount_to_be_paid: '',
            }
        },
        created() {
            this.getBusiestSlots();
            this.getSpots();
            this.getVehicles();
            this.getCurrentVehicles();
        },
        methods: {
            getSpots() {
                fetch('api/parking-slots')
                    .then(res => res.json())
                    .then(res => {
                        this.slots = res.data;
                    })
            },
            getBusiestSlots() {
                fetch('api/busiest-slots')
                    .then(res => res.json())
                    .then(ress => {
                        this.busiest_slots = ress;
                    });
            },
            parkCar() {
                var car = this.currentVehicles.find(v => v.plate_number === this.vehicle.plate_number);
                if (car)
                    swal('Francisco\'s Parking Application', 'A car with the same plate number is already in the parking lot', 'error');
                else
                fetch('api/park-car', {
                    method: 'post',
                    body: JSON.stringify(this.vehicle),
                    headers: {
                        'content-type': 'application/json'
                    }
                }).then(res => res.json())
                    .then(data => {
                            if (data.type === 'error')
                                swal('Francisco\'s Parking Application', 'Parking lot is full', 'error');
                            else {
                                swal("Francisco's Parking Application",
                                    this.vehicle.brand_name + ' has been successfully assigned a parking space', 'success');
                                this.vehicle.brand_name = '';
                                this.vehicle.plate_number = '';
                                this.getSpots();
                                this.getBusiestSlots();
                                this.$forceUpdate();
                            }
                            myModal1.style.display = "none";
                        }
                        ,
                        error => {
                            swal('Francisco\'s Parking Application', 'Parking lot is full', 'error');
                        });
            },
            getVehicles() {
                fetch('api/vehicles').then(
                    res => res.json()
                ).then(
                    res => {
                        this.vehicles = res;
                    }
                )
            },
            getCurrentVehicles() {
                fetch('api/get-vehicles').then(
                    res => res.json()
                ).then(
                    res => {
                        this.currentVehicles = res;
                    }
                )
            },
            getCarAtSlot(slot_id) {
                var veh = this.vehicles.find(v => v.updated_spot_id === slot_id);
                if (veh){
                    // if (this.currentVehicles.find(checkVehicle => checkVehicle.id === veh.id))
                    return veh;
                }
                else
                    return this.currentVehicles.find(vehicle => vehicle.spot_id === slot_id);
            },
            exitCar(vehicl) {
                this.vehicle = this.vehicles.find(vehicle => vehicle.plate_number === vehicl);
                let spot_id;
                if (this.vehicle.updated_spot_id)
                    spot_id = this.vehicle.updated_spot_id;
                else
                    spot_id = this.vehicle.spot_id;
                var self = this;
                swal({
                    title: "Are you sure?",
                    text: "You are about to exit a car from parking lot!",
                    icon: "warning",
                    buttons: [
                        'No, cancel it!',
                        'Yes, I am sure!'
                    ],
                    dangerMode: true,
                }).then(function(isConfirm) {
                    if (isConfirm) {
                            fetch('api/car-exit/'+spot_id, {
                                method: 'put',
                                body: JSON.stringify(self.vehicle),
                                headers: {
                                    'content-type': 'application/json'
                                }
                            }).then(res => res.json()).then(res => {
                                self.vehicles = res.data;
                                var vehicle = self.vehicles.find(v => v.id === self.vehicle.id);
                                fetch('https://api.alegra.com/api/v1/invoices', {
                                    method: 'post',
                                    body: JSON.stringify(
                                        {
                                            "date": `"${new Date().toISOString().split('T')[0]}"`,
                                            "dueDate": `"${new Date().toISOString().split('T')[0]}"`,
                                            "client": 1,
                                            "items": [
                                                {
                                                    "id": 1,
                                                    "price": 30.00,
                                                    "quantity": vehicle.amount_paid/30.00
                                                }
                                            ]
                                        }
                                    ),
                                    headers: {
                                        'content-type': 'application/json',
                                        'Authorization': `Basic ${base_64.encode('ilusadiq@gmail.com:cb5952a1c3bae7d7bd06')}`
                                    }
                                }).then(res => {
                                    if(res.status === 201) {
                                        swal("Parking Invoice",
                                            "Successfully paid and exit car\n"
                                            +"Brand name = "+vehicle.brand_name
                                            +"\nPlate number = "+vehicle.plate_number
                                            +"\nSeconds spent at the parking lot = "+(vehicle.amount_paid/30)
                                            +" seconds\nAmount to be paid = COL$"+vehicle.amount_paid
                                            ,"success");
                                    }
                                    else{
                                        swal("Parking Invoice", "Something went wrong","error");
                                    }
                                })
                                this.vehicle =  self.vehicles.find(vehicle => vehicle.plate_number === vehicl);
                            })
                    } else {
                        swal("Cancelled", "Car still in parking lot", "error");
                    }
                })
            },
            getCarExit(vehicle_plate_number) {
                this.vehicle = this.vehicles.find(vehicle => vehicle.plate_number == vehicle_plate_number);
                this.vehicle.time_in = new Date(this.vehicle.time_in).toLocaleTimeString();
                this.current_time = new Date().toLocaleTimeString();
                var current_date = new Date(now()).setHours(new Date(now()).getHours() - 1);
                // todo
                // this.temp_amount_to_be_paid = 30 * (current_date - new Date(this.vehicle.time_in).getTime());
            },
            getTime(value) {
                let hours = parseInt(Math.floor(value / 3600));
                let minutes = parseInt(Math.floor((value - (hours * 3600)) / 60));
                let seconds = parseInt((value - ((hours * 3600) + (minutes * 60))) % 60);

                let dHours = (hours > 9 ? hours : '0' + hours);
                let dMins = (minutes > 9 ? minutes : '0' + minutes);
                let dSecs = (seconds > 9 ? seconds : '0' + seconds);

                return dHours + ":" + dMins + ":" + dSecs;
            },
            sqlTojsDate(date_value) {
                    var t, result = null;

                    if( typeof date_value === 'string' )
                    {
                        t = date_value.split(/[- :]/);

                        //when t[3], t[4] and t[5] are missing they defaults to zero
                        result = new Date(t[0], t[1] - 1, t[2], t[3] || 0, t[4] || 0, t[5] || 0);
                    }

                    return result;

            },
            getEncodedString(email) {
                return
            }
            // watch: {
            //     //     slots(slots){
            //     //         var parkinSlots = this;
            //     //
            //     //     }
            //     // }
            // }
        }
    }

</script>
